<main class='container'>
  <section id='about'>
    <img src='./img/misc/meWH.jpg' class='avatar'>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Dolor, quidem. Fugiat, vitae, expedita! 
      Dicta quibusdam, officia, iure ab ea, et numquam 
      eligendi, sunt doloribus perspiciatis est reiciendis reprehenderit culpa a.
    </p>
  </section>
  <section id='contact'>
    <form class='contact-form'>
      <fieldset class='contact-fieldset'>
        <legend class='contact-title'>Let's get in touch</legend>
        <ul class='contact-list'>
          <li class='contact-list-item'>
            <label class='label' for='contact-name' id='contact-name-label'>Enter your name:</label>
            <input type='text' name='contactName' class='input' id='contact-name' placeholder='Name' required />
          </li>

          <li class='contact-list-item'>
            <label class='label' for='contact-email' id='contact-email-label'>Enter your email:</label>
            <input type='email' name='contactEmail' class='input' id='contact-email' placeholder='Email' required />
          </li>

          <li class='contact-list-item'>
            <label class='label' for='contact-message' id='contact-message-label'>Enter your message:</label>
            <textarea name='contactMessage' class='textarea' id='contact-message' placeholder='Message'></textarea>
          </li>
        </ul>
      </fieldset>
    </form>
  </section>
</main>