<main>
  <article class='wrapper' id='about'>
    <img src='./img/misc/me.jpg' alt='Picture of Erick Sauri' title='Erick Sauri' class='avatar'>
    <h2>About me</h2>
    <p>
      Hey! I’m Erick Sauri a senior at Rochester Institute of Technology.
      Currently I’m majoring in New Media Interactive Development
      and finishing a minor in Mobile App Development. I’m looking to
      pursue a career in web and mobile app development.
      Feel free to email me at <a href='mailto:ejs3863@rit.edu'>ejs3863 at rit.edu</a>.
    </p>
    <ul class='grid'>
      <li class='column-left'>
        <section class='resume-section'>
          <h2 class='resume-section-title'><i class='icon ion-briefcase'></i> Work Experience</h2>
          <h3 class='resume-item-title'>CACI</h3>
          <h4 class='resume-item-title-description'>Rome, NY (June 2016 - August 2016)</h4>
          <h5 class='resume-item-subtitle'>Web Developer</h5>
          <p class='resume-item-description'>
            Worked collaboratively in creating a web application
            utilizing Node, Express, and Postgresql. 
            Utilized the MVC model and client side programming.
          </p>
        </section>
      </li>
      <li class='column-right'>
        <section class='resume-section'>
          <h2 class='resume-section-title'><i class='icon ion-university'></i> Education</h2>
          <h3 class='resume-item-title'>Rochester Institute of Technology</h3>
          <h4 class='resume-item-title-description'>Rochester, NY (2013 - Present)</h4>
          <h5 class='resume-item-subtitle'>Bachelor's of Science</h5>
          <p class='resume-item-description'>
            New Media Interactive Development <br />
            Mobile App Development Minor <br />
            GPA: 3.8 / 4.0
          </p>
        </section>
      </li>
      <li class='column-left'>
        <section class='resume-section'>
          <h2 class='resume-section-title'><i class='icon ion-settings'></i> Skills &amp; Tools</h2>
          <ul class='resume-icon-list'>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-html5'></i></h3>
              <h5 class='resume-item-subtitle'>HTML5</h5>
            </li>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-javascript'></i></h3>
              <h5 class='resume-item-subtitle'>Javascript</h5>
            </li>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-angular'></i></h3>
              <h5 class='resume-item-subtitle'>Angular</h5>
            </li>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-nodejs'></i></h3>
              <h5 class='resume-item-subtitle'>Node</h5>
            </li>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-android'></i></h3>
              <h5 class='resume-item-subtitle'>Android</h5>
            </li>
            <li class='resume-icon-item'>
              <h3 class='resume-icon'><i class='icon ion-social-apple'></i></h3>
              <h5 class='resume-item-subtitle'>Swift</h5>
            </li>
          </ul>
        </section>
      </li>
      <li class='column-right'>
        <section class='resume-section'>
          <h2 class='resume-section-title'><i class='icon ion-trophy'></i> Awards &amp; Honors</h2>
          <h3 class='resume-item-title'>Dean's List</h3>
          <h5 class='resume-item-subtitle'>RIT (2013 - Present)</h5>
          <h3 class='resume-item-title'>Ibero-American League Scholarship</h3>
          <h5 class='resume-item-subtitle'>Ibero-American League (2013 - Present)</h5>
        </section>
      </li>
      <li class='column-full'>
        <h2 class='resume-section-title'><i class='icon ion-code'></i> Recent Projects</h2>
        <section class='grid'>
          <section class='resume-section column-left'>
            <h3 class='resume-item-title'>Trump Card</h3>
            <h4 class='resume-item-title-description'>iOS App Development (December 2016)</h4>
            <h5 class='resume-item-subtitle'>Swift</h5>
            <p class='resume-item-description'>
              Trump Card is an iOS game built with Swift 3. 
              The game is a take on the 2016 Presidential Election where players take the role
              of then Presidential Candidate Donald Trump and answer question with his actual answers
              and win favorability with voters.
            </p>
            <a class='btn' href='/trumpcard'>View Project</a>
          </section>
          <section class='resume-section column-right'>
            <h3 class='resume-item-title'>270</h3>
            <h4 class='resume-item-title-description'>Hybrid App Development (May 2016)</h4>
            <h5 class='resume-item-subtitle'>Angular &middot; Ionic Framework</h5>
            <p class='resume-item-description'>
              270 is a hybrid app created using the Ionic Framework, Sass and Angular. 
              The app also follows the MVC model. 270 is an U.S. historical and government 
              trivia game where players choose a party and answer trivia to earn the 270 
              electoral votes needed to win the Presidency.
            </p>
            <a class='btn' href='/270'>View Project</a>
          </section>
        </section>
      </li>
    </ul>

  </article>
  <article class='cta'>
    <section class='wrapper'>
      <h6>Looking for a PDF or printable version of my resume?</h6>
      <a class='btn btn-special' href='./media/resume.pdf' target='_blank'>Resume</a>
    </section>
  </article>
  <article class='wrapper' id='contact'>
    <h2>Contact</h2>
    <form class='contact-form' method='post' action=''>
      <fieldset class='contact-fieldset'>
        <legend class='contact-title'>Let's get in touch</legend>
        <ul class='contact-list'>
          <li class='contact-list-item'>
            <label class='label' for='contact-name' id='contact-name-label'>Enter your name:</label>
            <input type='text' name='contactName' class='input' id='contact-name' placeholder='Name' title='Please enter your name.' required />
          </li>
          <li class='contact-list-item'>
            <label class='label' for='contact-email' id='contact-email-label'>Enter your email:</label>
            <input type='email' name='contactEmail' class='input' id='contact-email' placeholder='Email' required />
          </li>
          <li class='contact-list-item'>
            <label class='label' for='contact-message' id='contact-message-label'>Enter your message:</label>
            <textarea name='contactMessage' class='textarea' id='contact-message' placeholder='Message'></textarea>
          </li>
          <li class='contact-list-item'>
            <button type='submit' class='btn btn-special' id='sendEmail' name='sendEmail'>Send</button>            
            <button type='reset' class='btn' id='resetEmail' name='resetEmail'>Clear</button>
          </li>
        </ul>
      </fieldset>
    </form>
  </article>
</main>
<footer>
  <ul class='social-links'>
    <li>
      <a class='icon ion-email' href='mailto:ejs3863@g.rit.edu' target='_blank'></a>
    </li>
    <li>
      <a class='icon ion-social-github' href='https://github.com/esauri' target='_blank'></a>
    </li>
    <li>
      <a class='icon ion-social-linkedin' href='https://www.linkedin.com/in/erick-sauri-1847357b' target='_blank'></a>
    </li>
    <li>
      <button class='icon ion-arrow-up-c' id='js-scroll-to-top'></button>
    </li>
  </ul>
  <p class='copyright'>&copy; 2017 Erick Sauri</p>
</footer>