<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='author' content='Erick Sauri'>
    <meta name='description' content='Erick Sauri creative developer portfolio site.'>

    {{! Mobile Stuff }}
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='msapplication-tap-highlight' content='no'>

    {{! Chrome on Android }}
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='Erick Sauri'>
    <link rel='icon' sizes='192x192' href='img/misc/logo.png'>

    {{! Safari on iOS }}
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='Erick Sauri'>
    <link rel='apple-touch-icon' href='img/misc/logo.png'>

    {{! Windows 8 }}
    <meta name='msapplication-TileImage' content='img/misc/logo.png'>
    <meta name='msapplication-TileColor' content='#111'>

    <meta name='theme-color' content='#111'>

    <link rel='shortcut icon' href='img/logo.png'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <header id='header'>
      <nav class='nav-global'>
        <ul class='nav-item-list'>
          <li class='nav-item'>
            <a class='nav-item-link' href='/'>
              <img class='logo' src='./img/misc/logo.png' alt='Erick Sauri Logo Icon'>
              <span class='logo-description'>Erick Sauri</span>
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-item-link' href='/'>Work</a>
          </li>
          <li class='nav-item'>
            <a class='nav-item-link' href='/about'>About</a>
          </li>
          {{!--<li class='nav-item'>
            <a class='nav-item-link' href='/about#contact'>Contact</a>
          </li>--}}
          <li class='nav-item'>
            <a class='nav-item-link' href='/about#resume'>Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}

    {{#unless project}}
    <button class='icon ion-ios-arrow-thin-up floating-action-btn' id='js-scroll-to-top'></button>
    <footer class='footer'>
      <ul class='social-links'>
        <li>
          <a class='icon ion-email' href='mailto:ejs3863@g.rit.edu' target='_blank'></a>
        </li>
        <li>
          <a class='icon ion-social-github' href='https://github.com/esauri' target='_blank'></a>
        </li>
        <li>
          <a class='icon ion-social-linkedin' href='https://www.linkedin.com/in/erick-sauri-1847357b' target='_blank'></a>
        </li>
      </ul>
      <p class='copyright'>&copy; 2017 Erick Sauri</p>
    </footer>
    {{/unless}}
    <script src='/js/build/bundle.min.js'></script>
    <script src='/js/build/zooming.min.js'></script>
  </body>
</html>
