<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='author' content='Erick Sauri'>
    <meta name='description' content='Erick Sauri creative developer portfolio site.'>

    <!-- Mobile Stuff -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='msapplication-tap-highlight' content='no'>

    <!-- Chrome on Android -->
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='Erick Sauri'>
    <link rel='icon' sizes='192x192' href='img/misc/logo.png'>

    <!-- Safari on iOS -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='Erick Sauri'>
    <link rel='apple-touch-icon' href='img/misc/logo.png'>

    <!-- Windows 8 -->
    <meta name='msapplication-TileImage' content='img/misc/logo.png'>
    <meta name='msapplication-TileColor' content='#111'>


    <meta name='theme-color' content='#111'>

    <link rel='shortcut icon' href='img/logo.png'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <header id='header'>
      <span id='logo'>
        <a href='/'>
          <img class='logo-image' src='./img/misc/logo.png'>
        </a>
        <span class='logo-description'>Erick Sauri</span>
      </span>
      <button id='open-menu-btn' class='hamburger'>Open Menu<span class='hamburger-icon'></span></button>
      <nav class='nav-global'>
        <ul>
          <li class='nav-item-list'>
            <button id='close-menu-btn' class='close-btn'>Close Menu<span class='close-icon'></span></button>
          </li>
          <li class='nav-item-list'>
            <a class='nav-item' href='/'>Work</a>
          </li>
          <li class='nav-item-list'>
            <a class='nav-item' href='/about'>About</a>
          </li>
          <li class='nav-item-list'>
            <a class='nav-item' href='/about#contact'>Contact</a>
          </li>
          <li class='nav-item-list'>
            <a class='nav-item' href='/'>Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <script src='/js/build/bundle.min.js'></script>
  </body>
</html>
