@value tablet-small from './../../styles/variables.module.css';

.column {
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
}

.reverse {
  align-self: flex-end;
}

@media only screen and (min-width: tablet-small) {
  .column_30 {
    flex-basis: 30%;
  }

  .column_40 {
    flex-basis: 40%;
  }

  .column_50 {
    flex-basis: 50%;
  }

  .column_60 {
    flex-basis: 60%;
  }

  .column_70 {
    flex-basis: 70%;
  }
}