@value tablet-small from './../../styles/variables.module.css';

.row_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.column_30,
.column_40,
.column_50,
.column_60,
.column_70 {
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
}

@media only screen and (min-width: tablet-small) {
  .column_30 {
    flex-basis: 30%;
  }

  .column_30 {
    align-items: flex-end;
  }

  .column_40 {
    flex-basis: 40%;
  }

  .column_50 {
    flex-basis: 50%;
  }

  .column_60 {
    flex-basis: 60%;
  }

  .column_70 {
    flex-basis: 70%;
  }
}
