@value tablet-small, tablet-large from './../../styles/variables.module.css';

.container {
  margin-top: 2em;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 100%;
}


.resume_header {
  position: relative;
  overflow: hidden;
}

.resume_title::after {
  content: '';
  width: 100%;
  height: 100%;
  margin-left: 1em;
  position: absolute;
  top: calc(50% - 0.5px);
  border-top: 1px solid var(--gray);
}


@media only screen and (min-width: tablet-small) {
  .container {
    margin-top: 4.25em;
  }

  .resume_section {
    margin-left: auto;
  }
}

@media only screen and (min-width: tablet-large) {
  .container {
    margin-top: 6em;
  }
}
