.btn {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

.hamburger_line {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 4px;
  background: currentColor;
}

.hamburger_line:last-of-type {
  margin-bottom: 0;
}

.btn:hover .hamburger_line,
.btn:focus .hamburger_line {
  animation: rainbow-bg 1s infinite;
}

@keyframes rainbow-bg {
  0% {
    background: var(--orange);
  }

  16% {
    background: var(--yellow);
  }

  32% {
    background: var(--green);
  }

  48% {
    background: var(--aqua);
  }

  64% {
    background: var(--blue);
  }

  80% {
    background: var(--purple);
  }

  96% {
    background: var(--red);
  }
}