.btn {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  color: inherit;
}

.line {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 4px;
  background: currentColor;
  color: inherit;
}

.line:last-of-type {
  margin-bottom: 0;
}

.btn:hover .line,
.btn:focus .line {
  animation: rainbow-bg 1s infinite;
}

@keyframes rainbow-bg {
  0% {
    background: var(--orange);
  }

  20% {
    background: var(--yellow);
  }

  40% {
    background: var(--green);
  }

  60% {
    background: var(--blue);
  }

  80% {
    background: var(--purple);
  }

  100% {
    background: var(--red);
  }
}