@value tablet-small, tablet-large, laptop from './variables.module.css';

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--foreground-1);
  color: var(--base-1);
}

body {
  background: var(--black-1);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, ".SFNSText-Regular", "Avenir Next", "San Francisco", "Roboto", "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 12px 0;
}

p {
  line-height: 1.6;
  letter-spacing: 0.01rem;
}

:global(.no-js) {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

:global(.fade-enter) {
  opacity: 0;
  z-index: 1;
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@media only screen and (min-width: tablet-small) {
  p {
    line-height: 1.8;
  }
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  animation: rainbow-color 1s infinite;
}
:global(.p-0) {
  padding: 0 !important;
}

:global(.pb-0),
:global(.py-0) {
  padding-bottom: 0 !important;
}

:global(.pl-0),
:global(.px-0) {
  padding-left: 0 !important;
}

:global(.pr-0),
:global(.px-0) {
  padding-right: 0 !important;
}

:global(.pt-0),
:global(.py-0) {
  padding-top: 0 !important;
}


:global(.wrapper) {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.11rem;
  max-width: 1350px;
}

@supports(padding: max(0px)) {
  :global(.wrapper) {
    padding-left: max(1.11rem, env(safe-area-inset-left));
    padding-right: max(1.11rem, env(safe-area-inset-right));
  }
}

@media only screen and (min-width: tablet-small) {
  :global(.wrapper) {
    padding: 0 2.22rem;
  }

  @supports(padding: max(0px)) {
    :global(.wrapper) {
      padding-left: max(2.22rem, env(safe-area-inset-left));
      padding-right: max(2.22rem, env(safe-area-inset-right));
    }
  }
}

@media only screen and (min-width: laptop) {
  :global(.wrapper) {
    padding: 0 3.33rem;
    padding-bottom: 4em;
  }
}

@keyframes rainbow-color{
  0% {
    color: var(--orange);
  }

  20% {
    color: var(--yellow);
  }

  40% {
    color: var(--green);
  }

  60% {
    color: var(--blue);
  }

  80% {
    color: var(--purple);
  }

  100% {
    color: var(--red);
  }
}