@value tablet-small, tablet-large from './variables.module.css';

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--dark);
  color: var(--light);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, ".SFNSText-Regular", "Avenir Next", "San Francisco", "Roboto", "Lato", sans-serif;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
  letter-spacing: 0.01rem;
}

@media only screen and (min-width: tablet-small) {
  p {
    line-height: 1.8;
  }
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  animation: rainbow-color 1s infinite;
}

:global(.wrapper) {
  margin: 0 auto;
  width: 90%;
  max-width: tablet-large;
  padding: 0 1.5em 1.25em 1.5em;
}

@media only screen and (min-width: tablet-small) {
  :global(.wrapper) {
     padding: 0 2.5em;
  }
}

@media only screen and (min-width: tablet-large) {
  :global(.wrapper) {
     padding-bottom: 4em;
  }
}

@keyframes rainbow-color{
  0% {
    color: var(--orange);
  }

  20% {
    color: var(--yellow);
  }

  40% {
    color: var(--green);
  }

  60% {
    color: var(--blue);
  }

  80% {
    color: var(--purple);
  }

  100% {
    color: var(--red);
  }
}