header {
  position: relative;
  margin-bottom: $content-padding;
  padding: 1em;
  height: 100%;
  //background: $cold-gradient;
  text-align: center;


  @include MQ(M) {
    margin-top: $tab-height;
  }

  @include MQ(L) {
    margin-top: $tab-height-L;
  }

  // Project Headers
  #twosevenzero & {
    background: url('../img/270.png') no-repeat top center;
    background-size: cover;
  }

  #admitone & {
    background: url('../img/admitone.jpg') no-repeat top center;
    background-size: cover;
  }

  #audiovisualizer & {
    background: url('../img/audiovisualizer.png') no-repeat top left;
    background-size: cover;
  }

  #clickergame & {
    background: url('../img/clickergame.png') no-repeat top center;
    background-size: cover;
  }

  #nest & {
    background: url('../img/nestchat.png') no-repeat top left;
    background-size: cover;
  }

  #hero-tag {
    margin-top: 1em;
  }
}

.hero {

  height: $banner-height-S;

  #hero-tag {
    margin-top: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {

    }
  }

  @include MQ(M) {
    height: $banner-height-M;
  }

  @include MQ(L) {
    height: $banner-height-L;
  }
}


// Avatar
#avatar {
  margin: 1em auto;
  max-width: $bio-img-size;
  border-radius: 50%;
  transition: transform 0.2s;

  &:hover {
    transform: rotate(-90deg);
  }
  @include MQ(M) {
    max-width: $bio-img-size-L;
  }
  @include MQ(L) {
    max-width: $bio-img-size-L;
  }
}
