@value tablet-medium, tablet-large from './../../styles/variables.module.css';

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.intro {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3.16rem;
  letter-spacing: 0.06rem;
  padding: 1rem 0 2rem;
  color: var(--foreground-2);
}

.intro_accent {
  color: var(--foreground);
}

.project_subtitle {
  display: none;
}

@media only screen and (min-width: tablet-medium) {
  .intro {
    font-size: 2rem;
    padding: 6.666666666666667rem 0;
    padding-bottom: 0.4em !important;
  }

  .project_item {
    padding: 1em;
    position: relative;
  }

  .project_item:nth-of-type(2n) {
    margin-top: 80px;
  }

  .project_item:nth-of-type(n) > a section {
    right: 0;
  }

  .project_item:nth-of-type(2n) > a section {
    left: 0;
    right: auto;
  }

  .project_subtitle {
    display: block;
    padding: 0 1.11rem;
    opacity: 0;
    text-align: right;
    transform: translateY(100%);
    transition: opacity var(--duration), transform var(--duration);
  }

  .project_item:nth-of-type(2n) .project_subtitle {
    text-align: left;
  }

  @supports(padding: max(0px)) {
    .project_subtitle {
      padding-left: max(1.11rem, env(safe-area-inset-left));
      padding-right: max(1.11rem, env(safe-area-inset-right));
    }
  }

  .project_item > a:hover + .project_subtitle {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: tablet-large) {
  .project_item {
    padding: 40px;
    position: relative;
  }

  .project_item:nth-of-type(2n) {
    margin-top: 120px;
  }
}