.intro {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.16rem;
  letter-spacing: 0.06rem;
  color: var(--foreground-2);

  padding: 6.666666666666667rem 0;
}

.intro_accent {
  color: var(--foreground);
}
