.canvas {
  background: var(--foreground-color);
  position: relative;
  display: flex;
  margin-bottom: -2em;
  flex-flow: column;
  justify-content: center;
}

.canvas :global(.wrapper) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background-color);
  text-align: center;
}

.toggle {
  position: absolute;
  background: none;
  border: 0;
  bottom: 0;
  order: 3;
}

.toggle:focus {
  outline: 0;
}

.icon {
  color: var(--background-color);
  text-shadow: var(--foreground-color) 0.5px 0.5px 0.5px;
}
