.btn{
	display: inline-block;
	padding: 0 5em;
	width: 100%;
	height: $btn-height;
	line-height: 50px;
	// line-height: calc( #{$btn-height} - calc(#{$btn-border-size} * 2));
	font-size: inherit;
	font-weight: $font-weight-bold;
	outline: 0;
	background: none;
	color: $foreground-color;
	border: $btn-border-size solid $foreground-color;
	box-shadow: 0 1px 10px rgba($black, 0.2), 0 2px 4px rgba($black, 0.1);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;

	@include MQ(M) {
		width: auto;
	}

	&:hover{
		color: $link-color-hover;
		border-color: $link-color-hover;
		animation: btn-animation 1s;
		box-shadow: 0 4px 10px rgba($black, 0.3), 0 6px 4px rgba($black, 0.2);
		cursor: pointer;
	}

	&.btn-fit{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	&.btn-special{
		background: $foreground-color;
		color: $background-color;

		&:hover {
			background: $red;
			color: $foreground-color;
			animation: btn-special-animation 1s;
		}
	}
}

.floating-action-btn {
	position: fixed;
	width: 48px;
	height: 48px;
	right: $content-padding;
	bottom: 1em;
	background: none;
	color: $foreground-color;
	border: 1px solid $foreground-color;
	border-radius: 50%;
	font-size: 1em;
	transform: scale(0);
	pointer-events: none;
	transition: transform $duration-transition;

	&.visible {
		transform: scale(1);
		pointer-events: all;
	}

	&:hover {
		background: $red;
		border-color: $red;
		animation: btn-special-animation 1s;
	}

	@include MQ (M) {
		right: 1em;
		bottom: 2em;
	}
}
