.project-carousel {
  height: 100%;
}

.project-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100vh;
  opacity: 0;

  &.visible {
    top: 0;
    opacity: 1;
    animation: fadeIn 2s;
  }

  &#two-seven-zero {
    background: url('../img/270/public/small/thumbnail.jpg') no-repeat center center;
    background-size: cover;

    @include MQ (M) {
      background: url('../img/270/public/medium/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }

    @include MQ (L) {
      background: url('../img/270/public/large/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }
  }

  &#audio-visualizer {
    background: url('../img/audiovisualizer/public/small/thumbnail.jpg') no-repeat center center;
    background-size: cover;

    @include MQ (M) {
      background: url('../img/audiovisualizer/public/medium/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }

    @include MQ (L) {
      background: url('../img/audiovisualizer/public/large/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }
  }

  &#clicker-game {
    background: url('../img/clickergame/public/small/thumbnail.jpg') no-repeat top center;
    background-size: cover;

    @include MQ (M) {
      background: url('../img/clickergame/public/medium/thumbnail.jpg') no-repeat top center;
      background-size: cover;
    }

    @include MQ (L) {
      background: url('../img/clickergame/public/large/thumbnail.jpg') no-repeat top center;
      background-size: cover;
    }
  }

  &#italian-neorealism {
    background: url('../img/neorealism/public/small/thumbnail.jpg') no-repeat center center;
    background-size: cover;

    @include MQ (M) {
      background: url('../img/neorealism/public/medium/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }

    @include MQ (L) {
      background: url('../img/neorealism/public/large/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }
  }

  &#trump-card {
    background: url('../img/trumpcard/public/small/thumbnail.jpg') no-repeat center center;
    background-size: cover;

    @include MQ (M) {
      background: url('../img/trumpcard/public/medium/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }

    @include MQ (L) {
      background: url('../img/trumpcard/public/large/thumbnail.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}

.project-slide-section-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.project-slide-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;

  text-shadow: $background-color 0.5px 0.5px 0.5px;
}

.project-slide-section-title {
  margin: 0;
}

// .project-slide-section-description {}

#project-carousel-tip {
  position: absolute;
  @include center(x);
  bottom: 3em;
  text-shadow: $background-color 0.5px 0.5px 0.5px;

  &.hide {
    display: none;
  }
}

.project-carousel-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 1em;
  padding-left: 2em;
  @include center(x);

  @include MQ (M) {
    flex-direction: column;
    left: auto;
    right: 3em;
    bottom: auto;
    @include center(y);
  }
}

.project-carousel-nav-list {
  padding: calc($content-padding / 1.5);
  text-align: center;
  text-shadow: $background-color 0.5px 0.5px 0.5px;

  @include MQ (M) {
    padding: $content-padding;
    display: flex;
    flex-direction: row-reverse;
  }
}

.project-carousel-btn,
.project-carousel-icon {
  background: none;
  border: none;
  color: $silver;
  transition: transform $duration-transition;
  font-size: 1em;

  &:hover {
    color: $foreground-color-accent;
    animation: link-animation 1s;
    transform: scale(1.3);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .current & {
    color: $foreground-color;
    transform: scale(1.5);
  }
}

.project-carousel-btn:hover + .project-carousel-thumbnail {
    @include MQ (M) {
      opacity: 1;
    }
  }

.project-carousel-resume {
  pointer-events: none;
  transform: scale(0);
  transition: transform $duration-transition;

  &.visible {
    pointer-events: all;
    transform: scale(1);

    &:hover {
      transform: scale(1.5);
    }
  }
}

.project-carousel-thumbnail {
  display: none;
  opacity: 0;
  // padding: 1em;
  width: 120px;
  height: 60px;

  @include MQ (M) {
    display: inline;
  }

  &.audio-visualizer {
    background: url('../img/audioVisualizer/public/small/thumbnail.jpg') no-repeat center center;
  }

  &.clicker-game {
    background: url('../img/clickergame/public/small/thumbnail.jpg') no-repeat top center;
  }

  &.two-seven-zero {
    background: url('../img/270/public/small/thumbnail.jpg') no-repeat center center;
  }

  &.trump-card {
    background: url('../img/trumpCard/public/small/thumbnail.jpg') no-repeat center center;
  }
}