.case-study {
  margin-top: 2em;
  padding: 1em;
}

#project-intro {
  margin: 2em 0 3em;

  aside {
    h3 {
      margin-top: 0;
    }
  }

  @include MQ(M) {
    display: flex;
    align-items:flex-start;

    aside {
      flex-basis: 33%;
      margin-right: 2em;
    }


    #project-description {
      flex-basis: 66%;
    }
  }
}

.about {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #avatar {
    display: block;
    margin: auto;
  }
}
