#contact-container {
  position: fixed;
  z-index: $contact-zindex;
  background: rgba($background-color-accent, 0.4);
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 1em;
  // display: flex;
  // flex-direction: column;

  // @include MQ(M) {
  //   flex-direction: row;
  // }
}

.contact-form {
  flex-basis: 100%;

  @include MQ(M) {
    flex-basis: 50%;
  }
}

.contact-title {
	font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
	letter-spacing: -0.025em;
  margin-bottom: $content-padding;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include MQ(M) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contact-list-item {
  flex-basis: 100%;
  padding: $content-padding 0;

  @include MQ(M) {
    flex-basis: 50%;

    &:last-of-type {
      flex-basis: 100%;
    }
  }
}

.label {
  display: block;
  margin-bottom: $content-padding;
  font-size: 18px;
}

.input {
  background: none;
  border: none;
  border-bottom: 3px solid $foreground-color;
  color: $foreground-color;
  padding: 1em;
  font-size: $min-font;

  &:focus {
    outline: none;
  }
}

.textarea {
  // display: block;
}