.gallery-container {
  position: relative;
  margin: auto;
}

// .gallery { }

.gallery-item {
  display: none;

  &.active {
    display: block;
  }
}

// .gallery-img { }

.gallery-dot-list {
  margin: 1em 0;
  text-align: center;
}

.gallery-dot-item {
  display: inline-block;
  padding: $content-padding;
}

.gallery-dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-color: $silver;
  border: none;
  border-radius: 50%;
  transition: background-color $duration-transition;

  &:hover {
    background-color: $red;
    animation: btn-special-animation 1s;
  }

  &.current {
    background-color: $foreground-color;
  }
}

.gallery-btn-prev,
.gallery-btn-next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1em;
  padding: 1em $content-padding 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: rgba($background-color, 0.3);
  color: $foreground-color;
  border: none;
  border-radius: 0 3px 3px 0;
  transition: padding $duration-transition;

  &:hover {
    padding: 1em;
    background: $link-color-hover;
    animation: btn-special-animation 1s;
  }
}

// .gallery-btn-prev { }

.gallery-btn-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}