#header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $header-L;
  background: $background-color;
  border-top: 1px solid $background-color-accent;
  z-index: $header-zindex;
  transition: background 0.1s;

  @include MQ (M) {
    border: none;
    background: none;
    position: relative;
  }

  &.hide-bg {
    border-color: transparent;
    background: none;
  }

  &.panel-open {
    background: $background-color-accent;
  }
}

.logo {
  max-width: 32px;
  max-height: 32px;
  margin: $content-padding 0 12px;

  @include MQ (M) {
    margin: 0;
  }
}

.logo-description {
  display: none;

  @include MQ (M) {
    display: block;
    margin-left: 1em;
  }
}

#open-menu-btn,
#close-menu-btn {
  padding: 1em;

  @include MQ(M) {
    display: none;
  }
}

#close-menu-btn {
    width: 100%;
    border-bottom: 1px solid $background-color;

  &:hover {
    background: $foreground-color-accent;
    color: $background-color-accent;
  }
}