.hamburger {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  background: none;
  text-indent: 100%;
  border: none;
  text-align: center;
  font-size: 0px;

  &:hover {
    .hamburger-icon,
    .hamburger-icon::after,
    .hamburger-icon::before {
      background-color: $link-color-hover;
    }
  }

  .hamburger-icon,
  .hamburger-icon::after,
  .hamburger-icon::before { 
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: $foreground-color-accent;
  }  

  .hamburger-icon {
    @include center(xy);
  }

  .hamburger-icon::after,
  .hamburger-icon::before {
    content: '';
    left: 0;
  }

  .hamburger-icon::before {
    transform: translateY(-6px);
  }

  .hamburger-icon::after {
    transform: translateY(6px);
  }

}

.close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  background: none;
  text-indent: 100%;
  border: none;
  text-align: center;
  font-size: 0px;
  display: flex;
  justify-content: center;

  &:hover {
    .close-icon::after,
    .close-icon::before {
      background-color: $link-color-hover;
    }
  }

  .close-icon,
  .close-icon::after,
  .close-icon::before { 
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: $foreground-color-accent;
  }  

  .close-icon {
    @include center(x);
    background: none;
  }

  .close-icon::after,
  .close-icon::before {
    content: '';
    // left: 0;
  }

  .close-icon::before {
    transform: rotate(-45deg);
  }

  .close-icon::after {
    transform: rotate(45deg);
  }
}