.nav-global {
  @include MQ (M) {
    width: 90%;
    margin: 0 auto;
    background: none;
    max-width: $L;
  }
}

.nav-item-list {
  display: flex;
  justify-content: space-between;

  @include MQ (M) {
    justify-content: flex-start;
  }
}

.nav-item {
  // flex-basis: 20%;

  &:first-of-type .nav-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:nth-of-type(2) {
    cursor: pointer;
  }

  @include MQ(M) {
    flex-basis: auto;

    &:first-of-type {
      margin-right: auto;
    }
  }
}

.nav-item-link {
  display: block;
  width: 100%;
  line-height: calc(#{$header-S} + 4px);
  padding: $content-padding 1em;
  color: $foreground-color-accent;
  text-align: center;
  border-bottom: 3px solid transparent;
  text-shadow: $background-color 0.5px 0.5px 0.5px;
  @include vendor-property('box-sizing', 'border-box');

  &:hover {
    color: $link-color-hover;
    border-color: $link-color-hover;
    animation: btn-animation 1s;
  }
}