.nav-global {
  position: relative;
  width: 100%;
  z-index: $max-zindex;
}

.nav-item-list {
  display: flex;

  @include MQ (M) {
    // justify-content: flex-end;
  }
}

.nav-item {
  flex-basis: 25%;

  &:first-of-type .nav-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:nth-of-type(2) {
    display: none;
  }

  @include MQ(M) {
    flex-basis: auto;

    &:first-of-type {
      align-self: flex-start;
    }
    
    &:nth-of-type(2) {
      display: inline;
    }
  }
}

.nav-item-link {
  display: block;
  width: 100%;
  line-height: $header-S;
  padding: 1em;
  color: $foreground-color-accent;
  text-align: center;
  @include vendor-property('box-sizing', 'border-box');


  &:hover {
    background: $foreground-color;
    color: $background-color;
  }

  @include MQ(M) {
    // display: inline;
    &:hover {
      background: none;
      color: $foreground-color;
      border-bottom: 3px solid $foreground-color;
    }
  }
}