.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}

.intro {
  margin-top: $banner-height-S;

  @include MQ(M) {
    display: flex;
    margin-top: $banner-height-M;
  }

  @include MQ (L) {
    margin-top: calc(#{$banner-height-L} - 100px);
  }
}

.content-left {
  @include MQ(M) {
    flex-basis: 33%;
    margin-right: 2em;
  }
}

.content-right {
  @include MQ(M) {
    flex-basis: 66%;
  }
}


.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $blue;
  height: $banner-height-S;
  text-align: center;

  @include MQ (M) {
    height: $banner-height-M;
  }

  @include MQ (L) {
    height: $banner-height-L;
  }
  #two-seven-zero & {
    background: url('../img/270/thumbnail.png') no-repeat center center;
    background-size: cover;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.column-left,
.column-right {
  flex-basis: 100%;

  @include MQ(L) {
    flex-basis: calc(50% - calc(#{$content-padding} * 3));  
  }
}

.column-left {
  @include MQ(L) {
    margin-right: calc(#{$content-padding} * 6);
  }
}

.column-full {
  flex-basis: 100%;
}

// .resume-section {}

.resume-section-title {
  border-bottom: 5px solid $foreground-color;
}

// .resume-item-title {}

// .resume-item-title-description {}

// .resume-item-subtitle {}

// .resume-item-description {}

.resume-icon-list {
  display: flex;
  flex-wrap: wrap;
}

.resume-icon-item {
  flex-basis: 33%;

  @include first(3) {
    .resume-icon {
      margin-top: 0;
    }
  }
}

