.hero-bio {
	background: url('../../img/yibaroconcierto.jpg') center center;
	background-attachment: fixed;
	height: 300px;

	text-align: center;

	@include MQ(M) {
		padding-top: 1em;
	}

	@include MQ(L) {
		padding: 0;
	}

}

.social-media {
	li{
		display: inline;
	}
}

.projects {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

.project-item {
	flex-basis: 100%;
	margin: $content-padding;
	display: flex;

	@include MQ(M){
		flex-basis: calc(50% - 20px);

		@include every(3){
			flex-basis: 100%;
		}
	}
}

.project-wrapper {
	display: block;
	width: 100%;
	height: 100%;

	&:hover {
		.project-blurb {
			background: $background-color-accent;
		}
	}
}

.project-blurb {
	color: $foreground-color;
	padding: 1em 1.6em;
	border-radius: 0 0 0.25em 0.25em;

	> * {
		margin: 0;
	}

	p {
		color: $silver;
	}
}

.project-image {
	background: $cold-gradient;
	display: block;
	border-radius: 0.25em 0.25em 0 0;
	width: 100%;
	height: 250px;

	@include MQ(M) {
		height: 350px;
	}

	// Project Headers
   &#twosevenzero {
    background: url('../img/270.png') no-repeat center center;
    background-size: cover;
  }

  &#admitone {
    background: url('../img/admitone.jpg') no-repeat top center;
    background-size: cover;
  }

  &#audiovisualizer {
    background: url('../img/audiovisualizer.png') no-repeat top left;
    background-size: cover;
  }

  &#clickergame {
    background: url('../img/clickergame.png') no-repeat top center;
    background-size: cover;
  }

  &#nest {
    background: url('../img/nestchat.png') no-repeat top left;
    background-size: cover;
  }

	&#yibaro {
		background: url('../img/yibaroconcierto.jpg') no-repeat center center;
		background-size: cover;
	}
}

// .project-item {
// 	flex-basis: 100%;
// 	height: 250px;
// 	margin: $content-padding;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background: $cold-gradient;
//
// 	@include MQ(M){
// 		height: 350px;
// 		flex-basis: calc(50% - 20px);
//
// 		@include every(3){
// 			flex-basis: 100%;
// 		}
// 	}
//
// 	@include MQ(L){
// 		height: 500px;
// 	}
//
// 	/* project images	*/
// 	&:first-of-type{
// 		background: url('../img/270.png') no-repeat center center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $orange;
// 		}
// 	}
// 	&:nth-of-type(2){
// 		background: url('../img/clickergame.png') no-repeat center center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $purple;
// 		}
// 	}
// 	&:nth-of-type(3){
// 		background: url('../img/nestchat.png') no-repeat top center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $red;
// 		}
// 	}
// 	&:nth-of-type(4){
// 		background: url('../img/admitone.jpg') no-repeat top center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $blue;
// 		}
// 	}
// 	&:nth-of-type(5){
// 		background: url('../img/audiovisualizer.png') no-repeat top center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $green;
// 		}
// 	}
// 	&:last-of-type{
// 		background: url('../img/yibaroconcierto.jpg') no-repeat center center;
// 		background-size: cover;
//
// 		.project-wrapper {
// 			background: $green;
// 		}
// 	}
// }
//
// .project-wrapper {
// 	width: 100%;
// 	height: 100%;
// 	mix-blend-mode: hard-light;
//
// 	&:hover {
// 		.project-blurb{
// 			opacity: 1;
// 		}
// 	}
// }
//
// .project-blurb {
// 	color: $background-color;
// 	opacity: 0;
// 	width: 100%;
// 	height: 100%;
// 	//background: rgba($silver, 0.4);
// 	display: flex;
// 	flex-flow: column;
// 	justify-content: center;
// 	align-items: center;
// 	padding: $content-padding;
// 	text-shadow : .5px .5px .5px $dark;
// 	transition: opacity $duration-transition;
// }
