.avatar {
    display: block;
    margin: auto;
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}

.intro {
  @include MQ(M) {
    display: flex;
    // align-items: center;
  }
}

.content-left {
  @include MQ(M) {
    flex-basis: 33%;
    margin-right: 2em;
  }
}

.content-right {
  @include MQ(M) {
    flex-basis: 66%;
  }
}

.banner {
  background: $blue;
  height: calc(70vh - #{$header-L});
  text-align: center;

  #two-seven-zero & {
    background: url('../img/270/thumbnail.png') no-repeat center center;
    background-size: cover;
  }
}
