#tabs {
  position: fixed;
  bottom: 0;
  background: $background-color-accent;
  left: 0;
  width: 100%;
	height: $tab-height;

  z-index: 9998;

	@include MQ(M) {
		position: absolute;
		top: 0;
		bottom: auto;
	}

	@include MQ(L) {
		height: $tab-height-L;
	}

  // &.sticky {
  //   position: fixed;
  //   top: 0;
  //   background: rgba($background-color-accent, 0.75);
  //   animation: navSlideDown $duration-transition;
  // }

  ul {
		position: relative;
    margin: auto;
    width: 100%;
		height: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

	li {
		display: flex;
		padding: 0;
		width: 100%;
		height: 100%;
		position: relative;
		justify-content: center;
		align-items: center;

    @include MQ(M) {
      &:last-of-type {
        display: none;
      }
    }
    button {
      cursor: pointer;
    }
		a, button {
			position: relative;
      padding: 0;
			display: block;
			width: 100%;
			height: 100%;

			background: none;
			color: $foreground-color;
      font-weight: $font-weight-bold;
      outline: none;
			border: none;
			font-size: 1em;

	    &:hover {
				background: $warm-gradient;
	      color: $background-color-accent;
	    }

      &:focus {
        background: $red;
        color: $background-color-accent;
      }
		}
	}

  a {
		text-align: center;
		line-height: $line-height;

		&:first-of-type {
			display: flex;
			justify-content: center;
			align-items: center;
		}
  }
}


// .nav-tabs {
// 	display: flex;
// 	flex-flow: row;
// 	justify-content: space-around;
// 	z-index: 999;
// 	width: 100%;
// 	height: $tab-height;
// 	background: $light;
// 	box-shadow:  0 1px 10px 0 rgba($dark, 0.02), 0 2px 4px 0 rgba($dark, 0.1);
//
// 	a {
// 		width: 100%;
// 		height: 100%;
// 		color: $link-color-hover;
// 		text-decoration: none;
// 		text-align: center;
// 		line-height: $tab-height;
//
// 		@include MQ(L) {
// 		  line-height: $tab-height-L;
// 		}
//
// 		&:hover {
// 			background: $warm-gradient;
// 			color: $white;
// 		}
// 	}
//
//   button {
//
//   }
//
// 	@include MQ(L) {
// 		position: relative;
// 		height: $tab-height-L;
// 	}
// }
