// Colors
// -----------------------


$white:	#f3f6fa;
$black:	#111;
$dark: #272727;
$light: #ecf0f1;
$silver: #a5aebc;
$red:	#e74c3c;
$yellow: #f1b340;
$orange: #f66b34;
$green: #7dcf85;
$aqua: #3a8580;
$blue: #5480f1;
$purple: #b062ea;

$blue-gradient: linear-gradient(to bottom right, $aqua, $blue);
$cold-gradient:	linear-gradient(to top left, #2E9F82, #5480f1);
$warm-gradient: linear-gradient(to bottom right, #e74c3c, #F66B34);

// Base
// ------------------------

$primary-font: -apple-system, ".SFNSText-Regular", "Avenir Next", "San Francisco", "Roboto", "Lato", sans-serif;

$font-weight: 300;
$font-weight-bold: 600;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$line-height: 1.5;

$link-color: $blue;
$link-color-hover: $red;

$background-color: $black;
$foreground-color: $white;

$background-color-accent: $dark;
$foreground-color-accent: $light;


$content-padding: 10px;
$content-padding-doubled: 30px;
$tab-height: 50px;
$tab-height-L: 70px;

//Sidebar
$sidebar-width: 200px;

// Z-index
$max-zindex: 9999;
$header-zindex: 6;
$sidebar-zindex: 5;
$shadow-zindex: 4;
$banner-zindex: 3;
$vertical-nav-zindex: 2;
$main-zindex: 1;

// Header height
$header-S: 50px;
$header-L: 80px;

// Banner height
$banner-height-S: 300px;
$banner-height-M: 400px;
$banner-height-L: 600px;

// Duration.
$duration-transition: 0.2s;
$duration-transition-long: 0.4s;

// Size.
$size-border-radius: 2px;
$size-element-height: 3em;
$size-element-margin: 2em;

// Project items
$project-items: 4;
$tile-items: 12;

// Bio Image
$bio-img-size: 150px;
$bio-img-size-M: 175px;
$bio-img-size-L: 200px;

// Icons
$icon-S: 24px;
$icon-M: 32px;
$icon-L: 40px;

@mixin line-icon($bg: $color-bg, $fg: $color-fg-bold) {
	@include icon;
	$size: 1px;

	&:before {
		color: $bg !important;
		text-shadow:	$size 0 0 $fg,
						($size * -1) 0 0 $fg,
						0 $size 0 $fg,
						0 ($size * -1) 0 $fg;
	}
}
