@value tablet-small, tablet-large from './../../styles/variables.module.css';

.header {
  height: var(--header-height);
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  color: var(--background-color);
}

.header.reverse:not(.sticky) {
  color: var(--foreground-color);
}

.header.sticky {
  position: fixed;
  color: var(--foreground-color);
  box-shadow: 0 1px 2px var(--gray);
  background: var(--background-color);
  animation: slide-down var(--duration) ease-in-out;
}

.nav_bar {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: tablet-large;
  padding: 0 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (min-width: tablet-small) {
  .nav_bar {
     padding: 0 2.5em;
  }
}

@keyframes slide-down {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}

