.header {
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 3.335rem;
  position: absolute;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.6666666666666667rem;
  padding-bottom: 1.6666666666666667rem;

  z-index: 3;
}

.header.sticky {
  position: fixed;
}
