@value tablet-small, tablet-large from './../../styles/variables.module.css';

.header {
  width: 100%;
  z-index: 3;
  background: var(--base-1);
  color: var(--foreground-1);
  height: var(--header-height);
}

.header.sticky {
  position: fixed;
  box-shadow: 0 1px 2px var(--nav-shadow);
  animation: slide-down var(--duration) ease-in-out;
}

.nav_bar {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: tablet-large;
  padding: 0 1.5em;
  display: flex;
  flex-flow: row nowrap;
}

@media only screen and (min-width: tablet-small) {
  .nav_bar {
     padding: 0 2.5em;
     align-items: baseline;
  }
}

@keyframes slide-down {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}

