.container {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.carousel:hover {
  cursor: grab;
}

.carousel_actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.carousel_actions button {
  margin-right: 1em;
}

:global(.slick-slide) {
  padding: 0 1em;
}

.dots {
  padding: 0;
  list-style-type: none;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: center;
}

.dots li {
  margin-right: 1em;
}

.dots li button {
  position: relative;
  border: 0;
  background: 0 0;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.dots li button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  content: '';
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  color: var(--base-3);
  background: currentColor;
}

.dots li button:hover::before {
  animation: rainbow-color 1s infinite;
}

.dots li button:focus::before {
  outline: 0;
  color: var(--accent);
}

:global(li.slick-active button::before) {
  transform: scale(1.25);
  color: var(--foreground);
}

@keyframes rainbow-color{
  0% {
    color: var(--orange);
  }

  20% {
    color: var(--yellow);
  }

  40% {
    color: var(--green);
  }

  60% {
    color: var(--blue);
  }

  80% {
    color: var(--purple);
  }

  100% {
    color: var(--red);
  }
}
