<main id='{{viewId}}'>
  <header class='banner'>
    <section class='banner-section'>
      <h1 class='banner-title'>{{projectTitle}}</h1>
    </section>
  </header>
  <article class='content'>
    <section class='wrapper project-intro'>
      <aside class='project-intro-information'>
        <h5>Project</h5>
        <h3>{{projectTitle}}</h3>
        <h5>Category</h5>
        <h3>Web App</h3>
        <h5>Technologies Used</h5>
        <h6>
          HTML5 &middot; 
          Sass &middot; 
          Javascript &middot; 
          Audio API &middot;
          Canvas API
        </h6>
        <h5>Useful Links</h5>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/audiovisualizer' target='_blank'></a>
          </li>
          <li>
            <a class='mobile-unfriendly icon ion-laptop' href='https://people.rit.edu/ejs3863/330/audiovisualizer/' target='_blank'></a>
          </li>
        </ul>
      </aside>
      <section class='project-intro-summary'>
        <h5>Description</h5>
        <p>
          The audio visualizer is a fun interactive
          application where audio nodes are translated
          into geometric forms by drawing them on a canvas.
          The audio visualizer is interactive as it also allows
          users to sketch things on the canvas and save them.
          The brush tool is directly influenced by the audio nodes.
          The user can also change the amplitude of the audio nodes,
          they can switch between audio being processed as a frequency
          or a wave length, they can delay the audio and change the color
          of the drawings. The audio visualizer comes with four songs
          <em>Toca Madera</em> by <a href='http://loswalters.com/' target='_blank'>Los Wálters</a>,
          <em>Soñar es mi juego</em> by <a href='http://tototomas.com/' target='_blank'>Tototomás</a>, 
          <em>'Cause I'm a man</em> by <a href='http://www.tameimpala.com/' target='_blank'>Tame Impala</a>, 
          and <em>Lux Aeterna</em> by <a href='https://www.youtube.com/watch?v=W2JTwoO0geM' target='_blank'>Clint Mastell</a>.
        </p>
      </section>
    </section>
    <section class='project-body wrapper'>
      <h6>Demo</h6>
      <section class='video-responsive'>
        <iframe class='iframe' src='https://player.vimeo.com/video/183408638' width='420' height='236' frameBorder='0' allowFullScreen></iframe>
      </section>
    </section>
    <section class='wrapper project-conclusion'>
      <h3>Thoughts</h3>
      <p>
        Working with canvas and audio was a great
        exercise as it helped me improve and learn
        more using Javascript. I was able to see its
        strength when combined with HTML and CSS to
        make awesome web applications. The audio visualizer
        was also a big stepping stone as it aided me when
        creating <a href='/clickergame'>Clicker Game</a>.
      </p>
    </section>
  </article>
</main>
