<main id='{{viewId}}'>
  <header class='banner'>
    <section class='banner-section'>
      <h1 class='banner-title'>{{projectTitle}}</h1>
      <p class='banner-description'>Save Bob!</p>
    </section>
  </header>
  <article class='content'>
    <section class='wrapper project-intro'>
      <aside class='project-intro-information'>
        <h5>Project</h5>
        <h3>{{projectTitle}}</h3>
        <h5>Category</h5>
        <h3>Game Design &amp; Development</h3>
        <h5>Technologies Used</h5>
        <h6>
          HTML5 &middot; Javascript
        </h6>
        <h5>Useful Links</h5>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/clickergame' target='_blank'></a>
          </li>
          <li>
            <a class='mobile-unfriendly icon ion-laptop' href='https://people.rit.edu/ejs3863/330/game/' target='_blank'></a>
          </li>
        </ul>
      </aside>
      <section class='project-intro-summary'>
        <h5>Description</h5>
        <p>
          Bob is stuck and it needs your help.
          Bob is surrounded by a strange alien species the is prone to
          quickly enrage and attack Bob! You must click on them before
          they enrage else Bob will be hurt. By clicking on enemies you can
          also give Bob time to heal and provide shields that protect him from
          attacks.
        </p>
        <h5>Goal</h5>
        <p>
          Clicker Game was an assignment where we had to create a web game
          using canvas. The goal of the game is to click on enemies before
          they get angry. Failing to do so will allow them to hurt Bob and
          when Bob's health reaches zero the game is over. Clicking on enemies
          can also heal Bob or grant it protective shields so it can deter coming
          attacks. For media the popping sound emitted when clicking an enemy was
          made by <a href='https://freesound.org/people/greenvwbeetle/sounds/244657/' target='_blank'>greenvwbeetle</a> and
          the shield sound is by <a href='https://freesound.org/people/thehorriblejoke/sounds/198969/' target='_blank'>thehorriblejoke</a>.
          The art is slightly edited by me but was created by <a href='http://www.kenney.nl' target='_blank'>Kenney Vleugels</a>.
        </p>
      </section>
    </section>
    <section class='project-body wrapper'>
      <section class='gallery-container'>
        <h6>Main Game Views</h6>
        <ul class='gallery'>
          <li class='gallery-item active'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/splashscreen.jpg' srcset='./img/clickergame/public/small/splashscreen.jpg 480w, ./img/clickergame/public/medium/splashscreen.jpg 760w, ./img/clickergame/public/large/splashscreen.jpg 1170w' alt='Clicker Game Splash View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/instructions.jpg' srcset='./img/clickergame/public/small/instructions.jpg 480w, ./img/clickergame/public/medium/instructions.jpg 760w, ./img/clickergame/public/large/instructions.jpg 1170w' alt='Clicker Game How to Play View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/gameView.jpg' srcset='./img/clickergame/public/small/gameView.jpg 480w, ./img/clickergame/public/medium/gameView.jpg 760w, ./img/clickergame/public/large/gameView.jpg 1170w' alt='Clicker Game View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/pausegame.jpg' srcset='./img/clickergame/public/small/pausegame.jpg 480w, ./img/clickergame/public/medium/pausegame.jpg 760w, ./img/clickergame/public/large/pausegame.jpg 1170w' alt='Clicker Game Pause View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/gameover.jpg' srcset='./img/clickergame/public/small/gameover.jpg 480w, ./img/clickergame/public/medium/gameover.jpg 760w, ./img/clickergame/public/large/gameover.jpg 1170w' alt='Clicker Game Over View'>
          </li>
        </ul>
        <ul class='gallery-dot-list'>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot current'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
        </ul>
        <ul class='gallery-btns'>
          <li>
            <button class='gallery-btn-prev js-gallery-prev icon ion-ios-arrow-left'></button>
          </li>
          <li>
            <button class='gallery-btn-next js-gallery-next icon ion-ios-arrow-right'></button>
          </li>
        </ul> 
      </section>
      <section class='gallery-container'>
        <h6>Tutorial Views</h6>
        <ul class='gallery'>
          <li class='gallery-item active'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/tutorialone.jpg' srcset='./img/clickergame/public/small/tutorialone.jpg 480w, ./img/clickergame/public/medium/tutorialone.jpg 760w, ./img/clickergame/public/large/tutorialone.jpg 1170w' alt='Clicker Game First Tutorial View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/tutorialtwo.jpg' srcset='./img/clickergame/public/small/tutorialtwo.jpg 480w, ./img/clickergame/public/medium/tutorialtwo.jpg 760w, ./img/clickergame/public/large/tutorialtwo.jpg 1170w' alt='Clicker Game Second Tutorial View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/tutorialthree.jpg' srcset='./img/clickergame/public/small/tutorialthree.jpg 480w, ./img/clickergame/public/medium/tutorialthree.jpg 760w, ./img/clickergame/public/large/tutorialthree.jpg 1170w' alt='Clicker Game Third Tutorial View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/tutorialfail.jpg' srcset='./img/clickergame/public/small/tutorialfail.jpg 480w, ./img/clickergame/public/medium/tutorialfail.jpg 760w, ./img/clickergame/public/large/tutorialfail.jpg 1170w' alt='Clicker Game Failed Tutorial View'>
          </li>
          <li class='gallery-item'>
            <img class='gallery-img' data-action='zoom' src='./img/clickergame/public/small/tutorialend.jpg' srcset='./img/clickergame/public/small/tutorialend.jpg 480w, ./img/clickergame/public/medium/tutorialend.jpg 760w, ./img/clickergame/public/large/tutorialend.jpg 1170w' alt='Clicker Game Finished Tutorial View'>
          </li>
        </ul>
        <ul class='gallery-dot-list'>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot current'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
          <li class='gallery-dot-item'><button class='gallery-dot js-gallery-dot'></button></li>
        </ul>
        <ul class='gallery-btns'>
          <li>
            <button class='gallery-btn-prev js-gallery-prev icon ion-ios-arrow-left'></button>
          </li>
          <li>
            <button class='gallery-btn-next js-gallery-next icon ion-ios-arrow-right'></button>
          </li>
        </ul> 
      </section>
      <h6>Demo</h6>
      <section class='video-responsive'>
        <iframe class='iframe' src='https://player.vimeo.com/video/183410426' width='420' height='315' frameBorder='0' allowFullScreen></iframe>
      </section>
    </section>
    <section class='wrapper project-conclusion'>
      <h3>Thoughts</h3>
      <p>
        I enjoyed making this project I found it
        interesting to work with canvas and javascript
        to make something easily playable on most browsers.
        Overall I would have liked to made the enemy sprites
        rounder like a circle inside of a rectangle so it would
        be easier to click on them. If I were to continue working
        on it I would add new levels so that you feel like you progress
        beyond the tutorial without just having the free for all level.
      </p>
    </section>
  </article>
</main>
