<main id='{{viewId}}'>
  <header class='banner'>
    <section class='banner-section'>
      <h1 class='banner-title'>{{projectTitle}}</h1>
    </section>
  </header>
  <article class='content'>
    <section class='wrapper project-intro'>
      <aside class='project-intro-information'>
        <h5>Project</h5>
        <h3>{{projectTitle}}</h3>
        <h5>Category</h5>
        <h3>iOS App</h3>
        <h5>Technologies Used</h5>
        <h6>Swift</h6>
        {{!--<h5>Useful Links</h5>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/audiovisualizer' target='_blank'></a>
          </li>
          <li>
            <a class='mobile-unfriendly icon ion-laptop' href='https://people.rit.edu/ejs3863/330/audiovisualizer/' target='_blank'></a>
          </li>
        </ul>--}}
      </aside>
      <section class='project-intro-summary'>
        <h5>Description</h5>
        <p>
          Trump Card is an iOS app that I developed for my Mobile App Dev class.
          In the game the player takes the role of Donald J. Trump as the Presidential
          nominee. The setting is a press conference where players are asked questions 
          by the press and each question has two choices, one choice is generally a response a 
          calmer, and subdued Donald Trump would give while the second choice is an off-the-cuff
          answer an agitated Trump would say. Each choice is actually a direct quote or a paraphrased 
          version of an actual Trump quote. There is also a list with all the Trump quotes used in the
          game and they are all referenced and some have audio clips attached that play when a card swipe is made.
        </p>
        <h5>Goal</h5>
        <p>
          The goal of the game is to end the press conference with enough favorability with voters to gain their vote
          on election day. Voters are divided into five blocs: African-Americans, Asian-Americans, Latinos, White college 
          educated, and White non-college educated voters. Each response by Trump has an individual effect on these voting 
          groups and this affects the players favorability. The players favorability is measured by voting groups based on
          their makeup of the electorate. If by the end of the press conference there favorability is 
          above 50% then the player wins otherwise they lose.
        </p>
        <table>
          <thead>
            <th>Makeup of the Electorate</th>
          </thead>
          <tr>
            <td>African-American</td>
            <td>10.8%</td>
          </tr>
          <tr>
            <td>Asian-American</td>
            <td>6%</td>
          </tr>
          <tr>
            <td>Latino</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>White (College educated)</td>
            <td>30.2%</td>
          </tr>     
          <tr>
            <td>White (Not college educated)</td>
            <td>43%</td>
          </tr>
        </table>
      </section>
    </section>
    <section class='project-body cta'>
      <h1>Coming Soon</h1>
      {{!--<h6>Demo</h6>
      <section class='video-responsive'>
        <iframe class='iframe' src='https://player.vimeo.com/video/183408638' width='420' height='236' frameBorder='0' allowFullScreen></iframe>
      </section>--}}
    </section>
    <section class='wrapper project-conclusion'>
      {{!--<h3>Thoughts</h3>
      <p>
        Working with canvas and audio was a great
        exercise as it helped me improve and learn
        more using Javascript. I was able to see its
        strength when combined with HTML and CSS to
        make awesome web applications. The audio visualizer
        was also a big stepping stone as it aided me when
        creating <a href='/clickergame'>Clicker Game</a>.
      </p>--}}
    </section>
  </article>
</main>
