<main id='{{viewId}}'>
  <header class='banner'>
    <section class='banner-section'>
      <h1 class='banner-title'>270</h1>
      <p class='banner-description'>Race to the White House</p>
    </section>
  </header>
  <article class='content'>
    <section class='wrapper project-intro'>
      <aside class='project-intro-information'>
        <h5>Project</h5>
        <h3>270</h3>
        <h5>Category</h5>
        <h3>Mobile App Development</h3>
        <h5>Technologies Used</h5>
        <h6>
          HTML5 &middot; 
          Sass &middot; 
          Javascript &middot; 
          Angular &middot; 
          Ionic Framework
        </h6>
        <h5>Links</h5>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/270' target='_blank'></a>
          </li>
        </ul>
      </aside>
      <section class='project-intro-summary'>
        <h5>Description</h5>
        <p>
          Race to the White House in the U.S. Government and History trivia game <strong>270</strong>.
          Select a party and run as that party's candidate. Travel to important battleground states 
          and answer questions in order to obtain enough votes to win the state and get electoral votes
          necessary to become the President of the United States.
        </p>
        <h5>Goal</h5>
        <p>
          In order for the candidate to win the Presidency, they must earn at least 270 electoral votes. Players must then enter a 
          state where they have several random trivia to answer. Players earn percentages of a state's vote if they answer trivia correctly. 
          In order to get all of the electoral votes in a state their vote percentage must exceed 50%. Once enough states
          have been won to reach 270 electoral votes the player becomes President-Elect of the United States of America.
        </p>
      </section>
    </section>
    <section class='project-body'>
      <section class='wrapper'>
        <h3>Video Demo</h3>
        <section class='video-responsive'>
          <iframe class='iframe' src='https://player.vimeo.com/video/183411950' width='420' height='236' frameBorder='0' allowFullScreen></iframe>
        </section>
        <h3>Mockups</h3>
        <h5>Main Views</h5>
        <p>
          These where the first designs of the app's views. Not much has changed from these views other than the tab bar, which due to time constraints
          had to be limited. The <strong>Messages</strong> tab was intended so that the user could recieve fake mail from interest groups, super pacs and 501(c)s 
          for support and in game currency to be used in the trivia section. The <strong>Statisctics</strong> and <strong>Me</strong> tabs where consolidated in the final
          version into one section where users can view their candidate profile and their vote percentages in each state. Another aspect that changed was how the electoral votes
          were displayed. Originally, I wasn't going to include vote percentages and each trivia question would grant a specific number to electoral votes if answered correctly.
        </p>
      </section>
      <img data-action='zoom' src='./img/270/public/small/mockupMainScreens.png' srcset='./img/270/public/small/mockupMainScreens.png 480w, ./img/270/public/medium/mockupMainScreens.jpg 760w, ./img/270/public/large/mockupMainScreens.jpg 1200w'>
      <section class='wrapper'>
        <h5>Trivia Views</h5>
        <p>
          As for the trivia views little changed other than the tab bar with different helpers users could call if they wanted to. 
          Players were supposed to use the currency earned in game to purchase these helpers.
        </p>
        <img data-action='zoom' src='./img/270/public/small/mockupTriviaScreens.jpg' srcset='./img/270/public/small/mockupTriviaScreens.jpg 480w, ./img/270/public/medium/mockupTriviaScreens.jpg 760w, ./img/270/public/large/mockupTriviaScreens.jpg 1200w'>
      </section>
      <section class='wrapper'>
        <h3>Final Product</h3>
      <img data-action='zoom' src='./img/270/public/small/startViewHand.jpg' srcset='./img/270/public/small/startViewHand.jpg 480w, ./img/270/public/medium/startViewHand.jpg 760w, ./img/270/public/large/startViewHand.jpg 1200w'>
      </section>
    </section>
    <section class='wrapper project-conclusion'>
      <h3>Conclusion</h3>
    </section>
  </article>
</main>
