<main id='{{viewId}}'>
  <header class='banner'>
    <section class='banner-section'>
      <h1 class='banner-title'>270</h1>
      <p class='banner-description'>Race to the White House</p>
    </section>
  </header>
  <article class='content'>
    <section class='wrapper project-intro'>
      <aside class='project-intro-information'>
        <h5>Project</h5>
        <h3>270</h3>
        <h5>Category</h5>
        <h3>Mobile App Development</h3>
        <h5>Technologies Used</h5>
        <h6>
          HTML5 &middot; 
          Sass &middot; 
          Javascript &middot; 
          Angular &middot; 
          Ionic Framework
        </h6>
        <h5>Links</h5>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/270' target='_blank'></a>
          </li>
        </ul>
      </aside>
      <section class='project-intro-summary'>
        <h5>Description</h5>
        <p>
          270 is a trivia game where the player takes on the role of a Presidential Candidate
          of either the Democratic or Republican party and attempts to obtain the necessary <strong>270</strong>
          electoral votes to enter the White House.
        </p>
        <h5>Goal</h5>
        <p>
          Clicker Game was an assignment where we had to create a web game
          using canvas. The goal of the game is to click on enemies before
          they get angry. Failing to do so will allow them to hurt Bob and
          when Bob's health reaches zero the game is over. Clicking on enemies
          can also heal Bob or grant it protective shields so it can deter coming
          attacks. For media the popping sound emitted when clicking an enemy was
          made by <a href='https://freesound.org/people/greenvwbeetle/sounds/244657/' target='_blank'>greenvwbeetle</a> and
          the shield sound is by <a href='https://freesound.org/people/thehorriblejoke/sounds/198969/' target='_blank'>thehorriblejoke</a>.
          The art is slightly edited by me but was created by <a href='http://www.kenney.nl' target='_blank'>Kenney Vleugels</a>.
        </p>
      </section>
    </section>
    <section class='wrapper project-body'>
      <h5>Video Demo</h5>
      <section class='video-responsive'>
        <iframe class='iframe' src='https://player.vimeo.com/video/183411950' width='420' height='236' frameBorder='0' allowFullScreen></iframe>
      </section>
      <h5>Early Mockups</h5>
      <h6>Main Views</h6>
      <p>
        Originally, the app was going to have a <strong>Messages</strong> tab where
        players would get fake messages from superpacs, fundraisers, and other interest groups.
        They would award players game currency to purchase hints.
        Notice how a state's electoral votes appeared on the right-hand corner of the state screen. Initially,
        players would get votes based on whether or not they answered a question correctly.
        In the end I ended up staying closer to the actuall electoral college by only awarding the entire state votes
        if the player has more than 51% of the vote. That is why I switched to percentages.
      </p>
      <img src='./img/270/public/small/mockupMainGroup.png' srcset='./img/270/public/small/mockupMainGroup.png 480w, ./img/270/public/medium/mockupMainGroup.jpg 760w, ./img/270/public/large/mockupMainGroup2.jpg 1200w'>

      <img src='./img/270/public/small/mockupMainGroup.jpg' srcset='./img/270/public/small/mockupMainGroup.jpg 480w, ./img/270/public/medium/mockupMainGroup.jpg 760w, ./img/270/public/large/mockupMainGroup.jpg 1200w'>
        {{!--<ul class='gallery-pagination'>
          <li class='gallery-pagination-item'>
            <button class='gallery-pagination-dot'></button>
          </li>
          <li class='gallery-pagination-item'>
            <button class='gallery-pagination-dot'></button>
          </li>
          <li class='gallery-pagination-item'>
            <button class='gallery-pagination-dot'></button>
          </li>
        </ul>--}}
      </section>
      <h6>International Relations Trivia</h6>
      <p>
        Initially, I had planned for trivia tabs that could help player answer questions but would have a cost in game currency.
        But since I was the only one working on the game and had a limited schedule I did not implement this functionality.
      </p>

      <h6>State Knowledge Trivia</h6>
      <p>
        Trivia would have categories, these where later reduced to <strong>People</strong>, <strong>Government</strong>, <strong>History</strong>, <strong>Locations</strong> and <strong>International Relations</strong>.
      </p>
    </section>
    <section class='wrapper project-conclusion'>
      <h5>Conclusion</h5>
    </section>
  </article>
</main>
