<main id='two-seven-zero'>
  <section class='banner'>
    <h1>270</h1>
    <p>Race to the White House</p>
  </section>
  <article class='container'>
    <section class='wrapper intro'>
      <aside class='content-left'>
        <h5>Project</h5>
        <h3>270</h3>
        <h5>Category</h5>
        <h3>Mobile App Development</h3>
        <h5>Technologies Used</h5>
        <p>
          HTML5 &middot; 
          SASS &middot; 
          Javascript &middot; 
          Angular &middot; 
          Ionic Framework
        </p>
        <ul class='social-links'>
          <li>
            <a class='icon ion-social-github' href='https://github.com/esauri/270' target='_blank'></a>
          </li>
        </ul>
      </aside>
      <section class='content-right'>
        <h5>Description</h5>
        <p>
          270 is a trivia game where the player takes on the role of a Presidential Candidate
          of either the Democratic or Republican party and attempts to obtain the necessary
          delegates, 270, to enter the White House.
        </p>
        <h5>Goal</h5>
        <p>
          Clicker Game was an assignment where we had to create a web game
          using canvas. The goal of the game is to click on enemies before
          they get angry. Failing to do so will allow them to hurt Bob and
          when Bob's health reaches zero the game is over. Clicking on enemies
          can also heal Bob or grant it protective shields so it can deter coming
          attacks. For media the popping sound emitted when clicking an enemy was
          made by <a href='https://freesound.org/people/greenvwbeetle/sounds/244657/' target='_blank'>greenvwbeetle</a> and
          the shield sound is by <a href='https://freesound.org/people/thehorriblejoke/sounds/198969/' target='_blank'>thehorriblejoke</a>.
          The art is slightly edited by me but was created by <a href='http://www.kenney.nl' target='_blank'>Kenney Vleugels</a>.
        </p>
      </section>
    </section>
    <section class='wrapper'>
      <h5>Video</h5>
      <section class='video-responsive'>
        <iframe class='iframe' src='https://player.vimeo.com/video/183411950' width='420' height='236' frameBorder='0' allowFullScreen></iframe>
      </section>
      <h5>Early Mockups</h5>
      <h6>Main Views</h6>
      <p>
        Originally, the app was going to have a <strong>Messages</strong> tab where
        players would get fake messages from superpacs, fundraisers, and other interest groups.
        They would award players game currency to purchase hints.
        Notice how a state's electoral votes appeared on the right-hand corner of the state screen. Initially,
        players would get votes based on whether or not they answered a question correctly.
        In the end I ended up staying closer to the actuall electoral college by only awarding the entire state votes
        if the player has more than 51% of the vote. That is why I switched to percentages.
      </p>
      <ul className='row row-3'>
        <li className='row-item'><img src='./img/270/splashscreenMockup.png' alt='270 Mockup Splash Screen' title='Splash Mockup Screen' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/mainscreenMockup.png' alt='270 Mockup Home Screen' title='Home Mockup Screen' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/statescreenMockup.png' alt='270 Mockup State Screen' title='State Mockup Screen' class='gallery-image'/></li>
      </ul>
      <h6>International Relations Trivia</h6>
      <p>
        Initially, I had planned for trivia tabs that could help player answer questions but would have a cost in game currency.
        But since I was the only one working on the game and had a limited schedule I did not implement this functionality.
      </p>
      <ul className='row row-3'>
        <li className='row-item'><img src='./img/270/questiontriviascreenMockup.png' alt='270 Mockup International Relations Trivia Screen' title='International Relations Trivia Mockup Screen' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/questiononecorrectMockup.png' alt='270 Mockup International Relations Trivia Screen Correct' title='International Relations Trivia Correct Mockup' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/questiononewrongMockup.png' alt='270 Mockup International Relations Trivia Screen Incorrect' title='International Relations Trivia Incorrect Mockup' class='gallery-image'/></li>
      </ul>
      <h6>State Knowledge Trivia</h6>
      <p>
        Trivia would have categories, these where later reduced to <strong>People</strong>, <strong>Government</strong>, <strong>History</strong>, <strong>Locations</strong> and <strong>International Relations</strong>.
      </p>
      <ul className='row row-3'>
        <li className='row-item'><img src='./img/270/questiontriviatwoMockup.png' alt='270 Mockup State Knowledge Trivia Screen' title='State Knowledge Trivia Mockup Screen' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/questiontwocorrectMockup.png' alt='270 Mockup State Knowledge Trivia Screen Correct' title='State Knowledge Trivia Correct Mockup' class='gallery-image'/></li>
        <li className='row-item'><img src='./img/270/questiontwowrongMockup.png' alt='270 Mockup State Knowledge Trivia Screen Incorrect' title='State Knowledge Trivia Incorrect Mockup' class='gallery-image'/></li>
      </ul>
      <h5>Final Screens</h5>
      <img class='' alt='270 Start Screen' title='Start Screen' src='./img/270/startScreen.png'>
      <img class='' alt='270 Democrat Main Screen' title='Democrat Main Screen' src='./img/270/demMainScreen.png'>
      <img class='' alt='270 Democrat Candidate Screen' title='Democrat Candidate Screen' src='./img/270/demCandidateScreen.png'>
      <img class='' alt='270 Trivia Screen Correct' title='Democrat Correct Trivia Screen' src='./img/270/questionCorrect.png'>
      <img class='' alt='270 Trivia Screen Wrong' title='Democrat Wrong Trivia Screen' src='./img/270/questionWrong.png'>

      <img class='' alt='270 Republican Main Screen' title='Republican Main Screen' src='./img/270/gopMainScreen.png'>
      <img class='' alt='270 Republican State Screen' title='Republican State Screen' src='./img/270/gopStateScreen.png'>
      <img class='' alt='270 Republican Candidate Screen' title='Republican Candidate Screen' src='./img/270/gopCandidateScreen.png'>
      <img class='' alt='270 Republican Scores Screen' title='Republican Scores Screen' src='./img/270/gopCandidateVoteScreen.png'>
      <img class='' alt='270 Republican Win Screen' title='Republican Win Screen' src='./img/270/gopWinScreen.png'>


    </section>
    <section>
      <h5>Conclusion</h5>
    </section>
  </article>
</main>
<footer>
  <ul class='social-links'>
    <li>
      <a class='icon ion-email' href='mailto:ejs3863@g.rit.edu' target='_blank'></a>
    </li>
    <li>
      <a class='icon ion-social-github' href='https://github.com/esauri' target='_blank'></a>
    </li>
    <li>
      <a class='icon ion-social-linkedin' href='https://www.linkedin.com/in/erick-sauri-1847357b' target='_blank'></a>
    </li>
    <li>
      <button class='icon ion-arrow-up-c scroll-to-top'></button>
    </li>
  </ul>
  <p class='copyright'>&copy; 2017 Erick Sauri</p>
</footer>