.btn {
  box-sizing: border-box;
  border-radius: 30px;
  background: var(--base-2);
  padding: var(--padding) calc(var(--padding) * 3);
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  text-decoration: none;
}