.btn {
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--light);
  padding: var(--padding) calc(var(--padding) * 3);
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn:hover {
  border-bottom: 6px solid var(--light-gray);
  text-decoration: none;
}

.btn:focus {
  border-bottom: 4px solid var(--light-gray);
  text-decoration: none;
}